//Make the partial
//Save the partial
//Delete the partial
//Import the partial
//Save style.scss

// Font variables
$font-stack: 'Poppins', sans-serif;

// 
$bold-weight-bold: 500;

//Colour variables
$primary: #292935;
$secondary: #96969D;
$tertiary: #ffffff;
$quaternary: #79DAD6;
$quinary: #FF9A9E;
$senary: #F6B895;

//Base styles

body    {
    width: 100%;
}

.wrapper    {
    display: flex;
    width: 80%;  
}

ul  {
    list-style: none;
}

