// Font variables
$font-stack: 'Poppins', sans-serif;
$bold-weight-bold: 500;


//Colour variables

$primary: #292935;

// This is the call to action hover colour
$secondary: #96969D;

$tertiary: #ffffff;

$quaternary: #79DAD6;
$quaternary-adjusted:  rgb(96, 168, 166);

// This is the call-to-action colour
$quinary: #FF9A9E;

$senary: #F6B895;

$line-colour: #e7e7e7;

input:focus {
    outline:none;
}