body    {
    color: $primary;
    font-size: 16px;
    font-family: $font-stack;
}

.italic {
    font-style: italic;
}

.bold   {
    font-weight: bold;
}

.font__pressstyle   {
    /* Will need to download link the font for this */
}