@import "components/normalize";
@import "components/base";
@import "components/typography";
@import "components/header";
@import "components/footer";

// This is where the header styling begins

header, 
.header__leftnav, 
.header__rightnav, 
.hero,
.welcome,
.categories,
.popular,
.blog,
.signup,
.contact,
footer {
    display: flex;
}

header, 
.hero, 
.welcome, 
.categories, 
.popular, 
.quote, 
.blog, 
.signup, 
.contact, 
footer {
    width: 100%;
}

.welcome,
.categories,
.popular,
.blog,
.signup,
.contact    {
    justify-content: center;
}

header  {
    align-items: center;
    background: #ffffff;
    flex-direction: row;
    justify-content: center;
    min-height: 100px;
    position: fixed;
    z-index: 60;
}

header ul   {
    padding: 0;
}

.header__leftnav    {
    margin-right: 100px;
}

.header__leftnav a   {
    padding: 0px 20px;
}

.logoimgdiv {
    margin-right: 232px;
}

.header__rightnav   {
    margin-right: 100px;
}

.header__rightnav__bagicon  {
    height: 25px;
    margin: 0px 15px;
    width: 25px;
}

.header__rightnav__bagicon:hover    {
    fill: $secondary;
}

header .fa     {
    font-size: 23px;
    margin: 0px 15px;
}

// This is where the hero styling begins

.hero   {
    background-size: cover;
    background-image: url(../images/hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    height: calc( 100vh - 85px);
    justify-content: space-between;
    padding-top: 85px;
}

.hero h1    {
    margin: 0;
}

.hero h2    {
    color: $secondary;
    margin-top: 180px;
}

.hero__centercontent {
	align-items: center;
	display: flex;
    flex-direction: column;
}

.hero__shopnowbut {
    background: $quinary;
	margin-top: 40px;
    padding: 10px 30px;
    position: relative;
}

.hero__navindicatordiv   {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 25%;
    position: relative;
    width: 90px
}

.hero__navcircle    {
    background: $primary;
    border-radius: 50px;
    height: 12px;
    margin: 0px 5px;
    width: 12px;
}

.hero__navcircle:hover {
    background: $secondary;
}

.hero__shopnowbut a  {
    color: $tertiary;
    font-size: 16px;
}

.hero__navbutleftdiv    {
    margin: 290px 0px 0px 30px;
}

.hero__navbutrightdiv   {
    margin: 290px 30px 0px 0px;
}

.hero__navbutleftdiv, 
.hero__navbutrightdiv {
    padding: 20px;
}

// This is where the .welcome styling begins

.welcome .wrapper   {
    align-items: center;
    flex-direction: column;
    position: relative;
}

.welcome h4, 
.welcome h2, 
.welcome p    {
    margin: 0;
    text-align: center;
    position: static;
    z-index: 50;
}

.welcome h4 {
    margin-top: 115px;
}

.welcome__plantimgdiv   {
    position: absolute;
    top: 120px;
}

.welcome__plantimgdiv img   {
    z-index: 40;
}

.welcome h2 {
    margin-top: 20px;
}

.welcome p:first-of-type    {
    margin-top: 60px;
}

.welcome p  {
    margin-top: 58px;
    width: 70%;
}

// This is where styling for the categories section begins 

.categories {
    padding-top: 100px;
}

.categories h3  {
    margin: 10px 0;
}

.categories p   {
    margin: 0;
    padding: 0;
}

.categories__label__airplt,
.categories__label__offplt,
.categories__label__houpl,
.categories__label__pltcont  {
    background: $tertiary;
    position: absolute;
    z-index: 50;
}

.categories .wrapper    {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 40% 30% 30%;
    grid-template-areas: 
        "air office house"
        "air container container";
    margin: 0 auto;

}

.categories__airpltdiv   {
    grid-area: air;
    position: relative;
}

.categories__rightdivs__offpltdiv   {
    grid-area: office;
    position: relative;
}

.categories__rightdivs__houpltdiv   {
    grid-area: house;
    position: relative;
}

.categories__rightdivs__pltcontdiv  {
    grid-area: container;
    position: relative;
}

.categories__label__airplt   {
    top: 43%;
    right: 29%;
    width: 40%;
}

.categories__label__offplt,
.categories__label__houpl  {
    top: 30%;
    left: 25%;
    width: 60%;
}

.categories__label__pltcont {
    top: 30%;
    left: 25%;
    width: 60%;
}

.categories img {
    height: 100%;
    width: 100%;
}

// This is where styling starts for the popular section

.popular    {
    margin-top: 70px;
}

.popular .wrapper   {    
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.popular__titleunderlinesdiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    width: 10%;
}

.popular__titleunderlinel,
.popular__titleunderlinec,
.popular__titleunderliner   { 
    height: 5px;
    margin: 0;
    padding: 0;
    width: 31%;
    
}

.popular__titleunderlinel,
.popular__titleunderliner   {
    border-bottom: 2px solid $quaternary;
}

.popular__titleunderlinec   {
    border-bottom: 2px solid $secondary;
}

.popular__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0px;
    width: 30%;
}

.popular__nav a:hover   {
    border-bottom: 1px solid $primary;
}

.popular__prodboxcont   {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.popular__prodbox   {
    flex-wrap: wrap;
    width: 17%;
}

.popular__prodimgdiv {
    position: relative;
}

.popular__prodimgdiv img    {
    width: 100%;
}

.popular__prodimgdiv-hover  {
    display: none;
    position: absolute;
}

.popular__prodimgdiv-hover:hover    {
    display: block;
}

.popular__price     {
    margin-bottom: 48px;
}

.popular__prodpricing p:first-of-type   {
    margin-top: 0;
}

.regprice   {
    margin-left: 10px;
}

// This is where styling starts for the quote section

.quote  {
    height: 60vh;
}

.quote__leftbox {
    background-image: url(../images/image_quoteleftbackground.jpg);
    background-size: cover;
    float: left;
    height: 60vh;
    width: 50%;
}

.quote__rightbox    {
    background-image: url(../images/image_videoplaceholder.jpg);
    float: right;
    height: 60vh;
    width: 50%;
}

.quote h2  {
    margin: 0;
    padding: 48px 0px 0px 0px;
}

.quote__leftbox__imgdiv {
    padding-top: 5px;
    text-align: center;
}

.quote p:first-of-type  {
    margin: 0 auto;
    padding-top: 15px;
    width: 90%;
}

.quote p:last-of-type   {
    color: $secondary;
}

.quote__leftbox__popcirclediv   {
    text-align: center;
}

.quote__leftbox__popcircles {
    background: $secondary;
    border-bottom: 3px solid transparent;
    border-radius: 50px;
    display: inline-block;
    height: 30px;
    margin: 20px;
    width: 30px;
}

.quote__leftbox__popcircles:hover {
    height: 40px;
    width: 40px;
}

.quote__rightbox__mediabut  {
    padding-top: 90px;
    text-align: center;
}

.quote__rightbox__txt   {
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

.quote h1,
.quote__rightbox__planticondiv   {
    display: inline-block;
    margin: 0;
    width: 30%;
}

.quote__rightbox__planticondiv  {
    padding-top: 10px;
}

.quote h5   {
    color: $tertiary;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
}

// This is where styling begins for the blog section

.blog .wrapper  {
    align-items: center;
    flex-direction: column;
}

.blog h2    {
    margin: 60px 0px 0px 0px;
}

.blog .popular__titleunderlinesdiv    {
    padding-top: 25px;
}

.blog__articlebox   {
    width: 30%;
}

.blog img   {
    height: 30vh;
    width: 100%;
}

.blog__articlebox__articlecont  {
    display: flex;
    justify-content: space-between;
}

.blog__articlebox__imgdiv   {
    height: 30vh;
}

.blog p  {
    text-align: left;
}

.blog p:first-of-type   {
    color: $secondary;
}

.blog a:hover   {
    border-bottom: 1px solid $primary;
}

// This is where styling begins for the sign up section

.signup .wrapper  {
    align-items: center;
    flex-direction: column;
}

.signup h2  {
    margin: 70px 0px 0px 0px;
}

.signup .popular__titleunderlinesdiv    {
    margin: 0;
    padding-top: 25px;
}

.signup p   {
    padding: 10px;
    width: 52%;
}

.signup__emailbox   {
    border-bottom: 1px solid $secondary;
    width: 80%;
}

.signup form    {
    display: flex;
}

.signup form p  {
    width: 23%;
}

.signup input   {
    border: none;
    width: 70%;
}

.signup button  {
    background: none;
    border: none;
    padding: 0;
    width: 7%;
}

.signup__locationimgscont   {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    width: 100%;
}

.signup__locationimgscont img   {
    width: 100%;
}

// This is where responsive styling starts

.contact    {
    border-bottom: 1px solid $secondary;
    border-top: 1px solid $secondary;
}

.contact__leftboxcont   {
    display: flex;
    padding-top: 100px;
    width: 60%;
}

.contact__leftbox {
    padding: 9px 0px 50px 0px;
    width: 70%;
}

.contact__leftbox p  {
    color: $secondary;
    text-align: left;
}

.contact__leftbox p:first-of-type   {
    padding-top: 5px;
}

.contact__leftbox span  {
    color: $primary;
}

.contact__smedbox i {
    padding: 7px;
}

.fa-twitter {
    color: $secondary;
}

.contact h3 {
    margin-top: 0;
    position: relative;
    text-align: left;
}

.contact h3::after  {
    border-bottom: 1px solid $quaternary;
    content: "";
    height: 12px;
    position: absolute;
    width: 45px;
}

.contact__lcbox h3::after   {
    bottom: 0px;
    right: 126px;
}

.contact__rcbox h3::after   {
    bottom: 0px;
    right: 120px;
}

.contact__rightbox h3::after   {
    right: 230px;
    top: 30px;
}

.contact__lcbox,
.contact__rcbox {
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	line-height: 2;
}

.contact__rcbox,
.contact__rightboxcont {
    padding-top: 100px;
}

.contact__rcbox {
    width: 15%;
}

.contact__rightboxcont  {
    padding-left: 20px;
    width: 25%;
}

.contact__rightbox h3   {
    margin-top: 5px;
}

.contac__rightbox__instagalleryimgdiv   {
    width: 32%;
}

.contac__rightbox__instagalleryimgdiv img   {
    height: auto;
    width: 100%;
}

.contact__rightbox__gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contact__pmbox {
    display: flex;
}

.contact__pmboximgdiv   {
    padding: 25px 7px 0px 7px;
}

.contact__rightbox__gallery {
    padding-top: 10px;
}

// This is where footer styling begins

footer  {
    justify-content: center;
    margin-bottom: 40px;
}

footer .wrapper {
    justify-content: space-between
}

footer .footer__dark   {
    color: $primary;
}



/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}